name: Deploy to Pi5

on:
  push:
    branches: ['**']  # Accept pushes from any branch

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull latest code from current branch
        run: |
          cd ~/git/cchelloworld
          git fetch origin
          git checkout ${{ github.ref_name }}
          git pull origin ${{ github.ref_name }}

      - name: Restart container
        run: |
          cd ~/git/cchelloworld
          docker-compose restart cchelloworld
